@import "compass";

//@include global-reset;

@mixin zoom-layout(){

  .zoom {

    @include transition-property(all);
    @include transition-duration(500ms);

    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    &:after {

      @include opacity(0);
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      height: 36px;
      width: 36px;
      background: url(/img/application-sprite.png) no-repeat 8px -742px;
      border: 2px solid #fff;
      margin: -20px 0 0 -20px;

    }

  }

  &:hover {

    .zoom {

      background: rgba(106,160,193,0.3);

      &:after {

        @include opacity(1);

      }

    }

  }

}

body {

  overflow-y: scroll;
  @import "menu";

  .jspVerticalBar {
    width: 3px;
    background: none;
  }

  .jspTrack {
    background: rgba(204, 204, 204, 0.25);
  }

  .jspDrag {
    background: rgb(120, 205, 209);
  }

  h1, .h1 {
    font-size: 32px;
  }

  h1, .h1, h2, .h2, h3, .h3 {
    margin: 5px 0 10px;
  }

  a:hover {
    text-decoration: none;
  }

  .fancybox {
    position: relative;
    display: block;
    height: 100%;
    @include zoom-layout;
  }

  .main-bg {
    position: fixed;
    left: 0;
    top: 0;
    background: url("/img/main-bg.png") 50% 50% no-repeat;
    height: 100%;
    width: 100%;
  }

  .container {
    width: 970px;
  }

  .header-container {

    position: relative;
    z-index: 2;
    padding: 40px 0;

    .header-logo-container {

      width: 300px;
      margin: 0 auto;

      .header-logo {

        width: 100%;

      }

    }

  }

  .main-container {

    padding: 50px 0 0;
    margin: 0 0 70px;
    overflow: hidden;
    position: relative;
    background: rgba(255, 255, 255, .9);

    .page-content {
      position: relative;
      z-index: 2;
      padding: 30px 0;
      min-height: 400px;
    }

  }

  $portfolio-list-margin: 20px;
  $portfolio-list-item-height: 254px;
  $portfolio-list-item-width: ((940px / 2) - $portfolio-list-margin);
  $portfolio-title-padding: 7px;
  $portfolio-title-width: $portfolio-list-item-width;

  #portfolio-item {

    .item {

      float: left;
      width: 300px;

      &.image {

        height: 169px;
        margin-bottom: 20px;
        margin-right: 20px;

        &.last-in-row {
          margin-right: 0;
        }

        img {
          height: 169px;
          width: 300px;
        }

      }

      &.main {

        position: relative;
        width: 100%;
        margin-bottom: 20px;

        .portfolio-item-content {

          min-height: 169px;
          max-height: 250px;
          overflow: auto;
          position: relative;

          p {
            padding-right: 7px;
            text-align: justify;
          }

        }

        .portfolio-item-image {

          display: block;
          height: 100%;
          width: 300px;
          background-repeat: no-repeat;
          background-position-x: 50%;
          background-position-y: 50%;

          img {
            display: none;
          }

        }

      }

    }

  }

  .portfolio-list {

    list-style: none;
    padding: 0;
    margin: 0;

    li {

      float: left;
      margin-right: $portfolio-list-margin;
      margin-bottom: $portfolio-list-margin;

      &:nth-child(even), .even {
        margin-right: 0;
      }

      .portfolio-item-container {

        @include zoom-layout();

        cursor: pointer;
        position: relative;

        .portfolio-image {

          height: $portfolio-list-item-height;
          width: $portfolio-list-item-width;

        }

        .portfolio-title {

          display: block;
          text-align: right;
          width: $portfolio-title-width;
          padding: $portfolio-title-padding;
          position: absolute;
          left: 0;
          bottom: 0;
          color: white;
          background: rgba(0, 0, 0, 0.6);

        }

      }

    }

  }

}

body .fancybox-nav { text-indent: -99999px; height: 90px; width: 45px; position: absolute; display: block; top: 50%; margin-top: -45px; }
body .fancybox-nav span { margin: 0; left: 0; right: 0; top: 0; visibility: visible; height: 90px; width: 45px; background: url("/img/sprite.png") no-repeat; }
body .fancybox-nav.fancybox-prev { left: -45px; }
body .fancybox-nav.fancybox-prev span { background-position: -363px -428px; }
body .fancybox-nav.fancybox-next { right: -45px; }
body .fancybox-nav.fancybox-next span { background-position: -395px -428px; }