/* line 5, ../sass/main.scss */
body {
  overflow-y: scroll;
}
/* line 1, ../sass/menu.scss */
body .menu-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
/* line 12, ../sass/menu.scss */
body .menu-container .container {
  position: relative;
}
/* line 16, ../sass/menu.scss */
body .menu-container .mini-logo {
  top: 0;
  left: 15px;
  position: absolute;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  opacity: 0;
}
/* line 25, ../sass/menu.scss */
body .menu-container.affix {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}
/* line 31, ../sass/menu.scss */
body .menu-container.affix .mini-logo {
  opacity: 1;
}
/* line 37, ../sass/menu.scss */
body .menu-container .menu-list {
  padding: 0;
  margin: 0;
  display: block;
  text-align: center;
}
/* line 44, ../sass/menu.scss */
body .menu-container .menu-list li {
  padding: 0;
  margin: 0 5px;
  text-align: center;
  display: inline-block;
}
/* line 51, ../sass/menu.scss */
body .menu-container .menu-list li a {
  display: block;
  padding: 15px;
}
/* line 56, ../sass/menu.scss */
body .menu-container .menu-list li a, body .menu-container .menu-list li a:hover {
  color: #4b5c66;
  text-decoration: none;
}
/* line 10, ../sass/main.scss */
body h1, body .h1, body h2, body .h2, body h3, body .h3 {
  margin: 5px 0 10px;
}
/* line 14, ../sass/main.scss */
body a:hover {
  text-decoration: none;
}
/* line 18, ../sass/main.scss */
body .main-bg {
  position: fixed;
  left: 0;
  top: 0;
  background: url("/img/test/123.jpg") 50% 0 no-repeat;
  height: 100%;
  width: 100%;
}
/* line 27, ../sass/main.scss */
body .container {
  width: 970px;
}
/* line 31, ../sass/main.scss */
body .header-container {
  position: relative;
  z-index: 2;
  padding: 40px 0;
}
/* line 37, ../sass/main.scss */
body .header-container .header-logo-container {
  width: 300px;
  margin: 0 auto;
}
/* line 42, ../sass/main.scss */
body .header-container .header-logo-container .header-logo {
  width: 100%;
}
/* line 52, ../sass/main.scss */
body .main-container {
  padding: 50px 0 0;
  margin: 0 0 70px;
  overflow: hidden;
  position: relative;
  background: rgba(255, 255, 255, 0.9);
}
/* line 60, ../sass/main.scss */
body .main-container .page-content {
  position: relative;
  z-index: 2;
  padding: 30px 0;
}
/* line 75, ../sass/main.scss */
body #portfolio-item .item {
  float: left;
  width: 300px;
}
/* line 80, ../sass/main.scss */
body #portfolio-item .item.image {
  height: 169px;
  margin-bottom: 20px;
  margin-right: 20px;
}
/* line 86, ../sass/main.scss */
body #portfolio-item .item.image.last-in-row {
  margin-right: 0;
}
/* line 90, ../sass/main.scss */
body #portfolio-item .item.image img {
  height: 169px;
  width: 300px;
}
/* line 97, ../sass/main.scss */
body #portfolio-item .item.main {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
/* line 103, ../sass/main.scss */
body #portfolio-item .item.main .portfolio-item-image {
  height: 100%;
  width: 300px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 0px;
}
/* line 117, ../sass/main.scss */
body .portfolio-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 123, ../sass/main.scss */
body .portfolio-list li {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 129, ../sass/main.scss */
body .portfolio-list li:nth-child(even), body .portfolio-list li .even {
  margin-right: 0;
}
/* line 133, ../sass/main.scss */
body .portfolio-list li .portfolio-item-container {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  cursor: pointer;
  position: relative;
}
/* line 138, ../sass/main.scss */
body .portfolio-list li .portfolio-item-container:hover {
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.25);
}
/* line 145, ../sass/main.scss */
body .portfolio-list li .portfolio-item-container .portfolio-image {
  width: 450px;
}
/* line 151, ../sass/main.scss */
body .portfolio-list li .portfolio-item-container .portfolio-title {
  display: block;
  text-align: right;
  width: 450px;
  padding: 7px;
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  background: rgba(0, 0, 0, 0.6);
}
